<div *ngIf="!isAuthenticated" style="text-align: center;
  padding: 64px 0;
  background-image: url('/assets/img/fieldServiceApp_opaque-681x391.svg');
  background-repeat: unset;
  background-position-y: 280px;
  background-size: 100%;
  background-position-x: -118px;
  position: absolute;
  bottom: 1px;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;">
  <auth (onAuthenticate)="onAuthenticate($event)"></auth>
</div>

<div *ngIf="isAuthenticated">
  <root-component></root-component>
  <router-outlet></router-outlet>
</div>

