<nav class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Cloud 9 Adjuster</a>
    <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Exit <i class="fas fa-sign-out"></i></a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="left-sidebar-scroll">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><i class="fal fa-file-certificate"></i> <span> Claims</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fal fa-building"></i> <span> Companies</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fal fa-users"></i> <span> Adjusters</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fal fa-file-chart-line"></i> Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fal fa-cogs"></i><span> Settings</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
            
        </nav>
        <main [ngSwitch]="rootContentPane" role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4 bg-light">
            <div *ngSwitchCase="'SearchPane'" class="row">
                <root-search-component (onOpenClaim)="onOpenClaim($event)" style="width: 100%"></root-search-component>
            </div>
            <div *ngSwitchCase="'ClaimTabsPane'" class="row">
                <a href="#" style="width:100%" (click)="goBack()">Back</a>
                <claimTabs-main-component class="col-12" style="padding-left: 0; padding-right: 0;"></claimTabs-main-component>
            </div>
        </main>
    </div>
</div>