<div class="bd-example">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">001234-AC01</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">001235-AC01</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">001236-AC01</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-plus"></i></a>
        </li>
    </ul>
    <div class="container nvl9-container">
        <div class="row">
            <div class="col-5">
                <div class="container-box-hdr">Vehicle Owner Details</div>
                <div class="container-box">
                    <table class="container-table">
                        <tr>
                            <td class="col-title">Vehicle Owner:</td>
                            <td class="col-value">BARCO RENT A TRUCK</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="col-title">Phone:</td>
                            <td class="col-value">(801) 324-0987</td>
                        </tr>
                        <tr>
                            <td class="col-title">Fax:</td>
                            <td class="col-value">(801) 324-0988</td>
                        </tr>
                        <tr>
                            <td class="col-title">Mobile:</td>
                            <td class="col-value">(801) 324-0989</td>
                        </tr>
                        <tr>
                            <td class="col-title">Address:</td>
                            <td class="col-value">71 South 5600 West</td>
                        </tr>
                        <tr>
                            <td class="col-title">City, State:</td>
                            <td class="col-value">Salt Lake City, Utah</td>
                        </tr>
                        <tr>
                            <td class="col-title">Country Zip:</td>
                            <td class="col-value">United States, 84104</td>
                        </tr>
                        <tr>
                            <td class="col-title">Alt. Contact:</td>
                            <td class="col-value"></td>
                        </tr>
                        <tr>
                            <td class="col-title">Next Report:</td>
                            <td class="col-value">February 20 2019</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-5">
                <div class="container-box-hdr">Claim Details</div>
                <div class="container-box container-box-urgent">
                    <table class="container-table">
                        <tr>
                            <td class="col-title">Claim #:</td>
                            <td class="col-value">001234-AC01</td>
                        </tr>
                        <tr>
                            <td>Severity</td>
                            <td>High</td>
                        </tr>
                        <tr>
                            <td class="col-title">Status:</td>
                            <td class="col-value">File Ready for Review</td>
                        </tr>
                        <tr>
                            <td class="col-title">Received On:</td>
                            <td class="col-value">December 6th 2018</td>
                        </tr>
                        <tr>
                            <td class="col-title va-top">Appraiser:</td>
                            <td class="col-value">Collin Smith
                                <span class="col-value-sub">
                                    <br />All Claims Appraisers Utah
                                    <br />(951) 331-9004 (cell)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-title">Team:</td>
                            <td class="col-value">Utah Appraiser Team</td>
                        </tr>
                        <tr>
                            <td class="col-title">Shared With:</td>
                            <td class="col-value">N/A</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-2">
                <div class="container-box-hdr">Reserves</div>
                <div class="container-box">
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-10">
                <div class="container-box-hdr">Insurer Details</div>
                <div class="container-box">
                    asfasd
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>